* {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-auto-rows: 30px;
    border-radius: 2.5vw;
    width: 80vw;
    height: 50vw;
    max-width: 80vw;
    max-height: 50vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: -5vh;
    padding-bottom: 5%;
    padding-left: 5vw;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textInfo {
    padding-left: 4vw;
    grid-row-start: 4;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 11;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #858585;
}

.name {
    font-weight: bold;
    font-size: 4.5vw;
}

.title {
    font-weight: 400;
    font-size: 3.2vw;
}

.contact {
    padding-top: 10px;
    font-weight: 100;
    font-size: 3vw;
}

.contact a {
    color:inherit;
    text-decoration: none;
}

.iosCard {
    margin-top: 2vh;
}

.diagonal-box {
    grid-row-start: 11;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 11;
    transform: skewY(-11deg);
	background-image: linear-gradient(45deg, #E57200, #E57200, #A80267);
    opacity: 0.9;
} 
.diagonal-box-2 {
    grid-row-start: 10;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 11;
    transform: skewY(11deg);
	background-image: linear-gradient(45deg, #A80267, #A80267, #E57200, #E57200);
    opacity: 0.9;
} 
.content { 	
	max-width: 500em;
    margin: 0 auto; 
}

/* .diagonal-box {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 11;
	background-color: #ff0099;
	transform: skewY(-11deg);
} */
