* {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-auto-rows: 30px;
    border-radius: 2.5vw;
    width: 80vw;
    height: 50vw;
    max-width: 80vw;
    max-height: 50vw;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 10%;
    padding-bottom: 5%;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textInfo {
    padding-top: 1vw;
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 10;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: rgb(157, 160, 161);
}

.name {
    font-weight: bold;
    font-size: 3.5vw;
}

.title {
    font-weight: 400;
    font-size: 2.2vw;
}

.contact {
    padding-top: 10px;
    font-weight: 100;
    font-size: 2vw;
}

.contact a {
    color:inherit;
    text-decoration: none;
}

.chromosomes {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 11;
}

.chromosomes img {
    width: 100%;
    height: 150%;
    object-fit: fill;
}

.iosCard {
    margin-top: 2vh;
}
